$get-color: #2196F3;
$get-color-alt: #E3F2FD;

$post-color: #009688;
$post-color-alt: #E0F2F1;

$put-color: #795548;
$put-color-alt: #EFEBE9;

$delete-color: #F44336;
$delete-color-alt: #FFEBEE;

$model-begin-end: #0091EA;